HomeServiceRobot.opensdf
HomeServiceRobot.sdf
projectFiles/Activex控件/FRManager.pdb
FRManager/Release/cl.command.1.tlog
FRManager/Release/CL.read.1.tlog
FRManager/Release/CL.write.1.tlog
FRManager/Release/ContEHMM.obj
FRManager/Release/CvvImage.obj
FRManager/Release/FaceBase.obj
FRManager/Release/FaceDetect.obj
FRManager/Release/FRManager.lastbuildstate
FRManager/Release/FRManager.log
FRManager/Release/FRManager.obj
FRManager/Release/FRManager.ocx.intermediate.manifest
FRManager/Release/FRManager.pch
FRManager/Release/FRManager.res
FRManager/Release/FRManager.tlb
FRManager/Release/FRManager.vcxprojResolveAssemblyReference.cache
FRManager/Release/FRManager.write.1.tlog
FRManager/Release/FRManagerCtrl.obj
FRManager/Release/FRManagerPropPage.obj
FRManager/Release/LightSet.obj
FRManager/Release/link.command.1.tlog
FRManager/Release/link.read.1.tlog
FRManager/Release/link.write.1.tlog
FRManager/Release/link-cvtres.read.1.tlog
FRManager/Release/link-cvtres.write.1.tlog
FRManager/Release/midl.command.1.tlog
FRManager/Release/midl.read.1.tlog
FRManager/Release/midl.write.1.tlog
FRManager/Release/midl-midlc.read.1.tlog
FRManager/Release/midl-midlc.read.2.tlog
FRManager/Release/midl-midlc.write.1.tlog
FRManager/Release/midl-midlc-cl.read.1.tlog
FRManager/Release/mt.command.1.tlog
FRManager/Release/mt.read.1.tlog
FRManager/Release/mt.read.2.tlog
FRManager/Release/mt.write.1.tlog
FRManager/Release/Person.obj
FRManager/Release/PersonImage.obj
FRManager/Release/rc.command.1.tlog
FRManager/Release/rc.read.1.tlog
FRManager/Release/rc.write.1.tlog
FRManager/Release/stdafx.obj
FRManager/Release/vc100.pdb
HSRobot/obj/x86/Release/HSRobot.csproj.ResolveComReference.cache
HSRobot/obj/x86/Release/HSRobot.exe
HSRobot/obj/x86/Release/HSRobot.pdb
HSRobot/obj/x86/Release/Interop.FRManagerLib.dll
HSRobot/obj/x86/Release/Interop.SRecoManagerLib.dll
HSRobot/obj/x86/Release/HSRobot.csproj.ResolveComReference.cache
HSRobot/obj/x86/Release/HSRobot.exe
HSRobot/obj/x86/Release/HSRobot.pdb
HSRobot/obj/x86/Release/Interop.FRManagerLib.dll
HSRobot/obj/x86/Release/Interop.SRecoManagerLib.dll
projectFiles/Activex控件/FRManager.exp
projectFiles/Activex控件/FRManager.lib
projectFiles/Activex控件/SRecoManager.exp
projectFiles/Activex控件/SRecoManager.lib
projectFiles/Activex控件/SRecoManager.pdb
projectFiles/bin/HSRobot.exe.config
projectFiles/bin/HSRobot.pdb
SRecoManager/SRecoManager/Release/cl.command.1.tlog
SRecoManager/SRecoManager/Release/CL.read.1.tlog
SRecoManager/SRecoManager/Release/CL.write.1.tlog
SRecoManager/SRecoManager/Release/link.command.1.tlog
SRecoManager/SRecoManager/Release/link.read.1.tlog
SRecoManager/SRecoManager/Release/link.write.1.tlog
SRecoManager/SRecoManager/Release/link-cvtres.read.1.tlog
SRecoManager/SRecoManager/Release/link-cvtres.write.1.tlog
SRecoManager/SRecoManager/Release/midl.command.1.tlog
SRecoManager/SRecoManager/Release/midl.read.1.tlog
SRecoManager/SRecoManager/Release/midl.write.1.tlog
SRecoManager/SRecoManager/Release/midl-midlc.read.1.tlog
SRecoManager/SRecoManager/Release/midl-midlc.read.2.tlog
SRecoManager/SRecoManager/Release/midl-midlc.write.1.tlog
SRecoManager/SRecoManager/Release/midl-midlc-cl.read.1.tlog
SRecoManager/SRecoManager/Release/mt.command.1.tlog
SRecoManager/SRecoManager/Release/mt.read.1.tlog
SRecoManager/SRecoManager/Release/mt.read.2.tlog
SRecoManager/SRecoManager/Release/mt.write.1.tlog
SRecoManager/SRecoManager/Release/rc.command.1.tlog
SRecoManager/SRecoManager/Release/rc.read.1.tlog
SRecoManager/SRecoManager/Release/rc.write.1.tlog
SRecoManager/SRecoManager/Release/SpeechRecognition.obj
SRecoManager/SRecoManager/Release/SRecoManager.lastbuildstate
SRecoManager/SRecoManager/Release/SRecoManager.log
SRecoManager/SRecoManager/Release/SRecoManager.obj
SRecoManager/SRecoManager/Release/SRecoManager.ocx.intermediate.manifest
SRecoManager/SRecoManager/Release/SRecoManager.pch
SRecoManager/SRecoManager/Release/SRecoManager.res
SRecoManager/SRecoManager/Release/SRecoManager.tlb
SRecoManager/SRecoManager/Release/SRecoManager.vcxprojResolveAssemblyReference.cache
SRecoManager/SRecoManager/Release/SRecoManager.write.1.tlog
SRecoManager/SRecoManager/Release/SRecoManagerCtrl.obj
SRecoManager/SRecoManager/Release/SRecoManagerPropPage.obj
SRecoManager/SRecoManager/Release/stdafx.obj
SRecoManager/SRecoManager/Release/vc100.pdb
projectFiles/Activex控件/FRManager.exp
projectFiles/Activex控件/FRManager.lib
projectFiles/Activex控件/SRecoManager.exp
projectFiles/Activex控件/SRecoManager.lib
projectFiles/Activex控件/SRecoManager.pdb
